/* loads custom font Star Jedi  */
@font-face {
  font-family: "Star Jedi";
  src: url("star-jedi_[allfont.net].ttf") format("truetype");
}
/* @import url(http://allfont.net/allfont.css?fonts=star-jedi); */
/* css for all properties */
html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #ff8300;
  font-family: "Star Jedi";
}

/* Big text looks awesome with this font */
h1 {
  font-family: 'Star Jedi', arial;
  font-size: 48px;
}

/* This is the Sponsors on the index page, thats why its called sponsorIndex */
.SponsorIndex {
  margin-top: 10%;
  background-color: rgba(77, 78, 73, 0.2);
}
.sponsor {
  text-align: left;
}
.sponsor p {
  padding-left: 5%;
  color: #e6e6e6;
}

.sponsor li {
  padding-left: 18%;
  color: #e6e6e6;
  list-style-type: none;
}

.sponsor h2 {
  color: white;
}

/* This is the navbar stuff */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 98%;
}

.navbar li a:hover {
  background-color: #0091ea;
  /* Add a black background color to the top navigation */
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.main {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}
/* Stuff that needs to be center */
.center {
  text-align: center;
}

/* Footer Stuff. The links at the bottom of the page */
footer {
  list-style-type: none;
  font-size: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #3498db;
  margin-top: 1%;
  line-height: 110%;
}

/* Theres colums so that you can have text different text on the same line */
.footerColumn {
  float: left;
  width: 15%;
  padding: 5px;
}

.footerColumn a {
  color: white;
}

/* a p {
  color: #66ccff;
} */
/* for the footer text */
.footerText {
  color: white;
  padding-right: 0%;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* makes pretty buttons */
/*.button {
    background-color: #4395cd;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari *
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #1d1d1d;
    color: white;
    border: 2px solid #4395cd;
}
.button:hover {
    background-color: #4395cd;
    color: white;
}
*/
.lispace {
  margin: 10px 0;
}
.lismallspace{
  margin: 0.5px 0;
}
a {
    color: #4395cd;
}
/* there's a column for the body as well like in the footer */
  .column {
  float: left;
  width: 40%;
  padding: 50px;
}
  .column1 {
  float: left;
  width: 40%;
  padding: 60px 0 30px;
  background: #f2f2f2;
}
  .column2 {
  float: left;
  width: 40%;
  padding: 30px;
  background: #0242b8;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}
img.resize{
  max-width: 50%;
  max-height: 50%;
}
.column a {
  color: #ff8300;
}

/* Awards Right Side */
/* .awardsR {
  white-space: nowrap;
} */
/* Text Awards - Puts semi-transparent layer over the whole div*/
/*.awardText {
  background: rgba(0, 0, 0, 0.5);
}*/
/* Removes the semi-transparent layer over the <p>, only one shade of grey */
/*.awardText p {
  background: rgba(0, 0, 0, 0);
}*/

/* Text Awards li */
.awardText li {
  font-size: 0.6rem;
  line-height: 1.2em;
}

/* properties for the about text paragraph on the front page */
p {
  line-height: 1.2em !important;
  color: black;
  font-family: 'ZCOOL QingKe HuangYou';
  /*background: rgba(0, 0, 0, 0.5);*/
}

/* Custom Font sizes, helps with moble viwing */
h1 {
  font-size: 2.5rem;
}
h1i {
  font-size: 2.5rem;
  color: #0091ae;
}
h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Facebook icon */
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-facebook:hover {
  background: white;
  color: #3b5998;
}
/* Twitter icon*/
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-twitter:hover {
  background: white;
  color: #55ACEE;
}
/* Instagram icon*/
.fa-instagram {
  background: #C13584;
  color: white;
}
.fa-instagram:hover {
  background: white;
  color: #C13584;
}
/* YouTube icon*/
.fa-youtube {
  background: #ff0000;
  color: white;
}
.fa-youtube:hover {
  background: white;
  color: #ff0000;
}
/* Envelope*/
.fa-envelope {
    background: #0091ea;
    color: white;
}
.fa-envelope:hover {
  background: white;
  color: #0091ea;
}
