/* loads custom font Star Jedi  */
@font-face {
  /*font-family: "Star Jedi"; */
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  /*src: url("star-jedi_[allfont.net].ttf") format("truetype");*/
}
/* @import url(http://allfont.net/allfont.css?fonts=star-jedi); */
/* css for all properties */
html, body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-rendering: optimizeLegibility;
  background-color: white;
  color: #ff8300;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Big text looks awesome with this font */
h1 {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 48px;
}

/* This is the Sponsors on the index page, thats why its called sponsorIndex */
.SponsorIndex {
  margin-top: 10%;
  background-color: rgba(77, 78, 73, 0.2);
}
.sponsor {
  text-align: left;
}
.sponsor p {
  padding-left: 5%;
  color: #e6e6e6;
}

@media screen and (min-width: 64em)
#team_hardoced-page {
    background: #f7f7f7;
}

#team_hardoced-page {
    display: flex;
    flex-flow: row wrap;
    color: black;
    background: #fff;
}

@media screen and (min-width: 64em)
container122 {
    width: calc(66.66667% - 1.875rem);
    margin-right: .9375rem;
    margin-left: .9375rem;
    margin-right: 3.75rem;
    margin-left: 3.75rem;
    padding: 60px 0;
    float: right;
}
.edgtf-content {
    position: relative;
    margin-top: 0;
    z-index: 100;
    background-color: #17161a;
}

.sponsor li {
  padding-left: 18%;
  color: #e6e6e6;
  list-style-type: none;
}

.sponsor h2 {
  color: white;
}

/* This is the navbar stuff */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 98%;
}
contact-form1 {
    background: #FFFFFF;
}
@media screen and (min-width: 64em)
 contact-form1 {
    width: calc(50% - 1.875rem);
    padding-top: 4em;
    padding-bottom: 4em;
}
contact-row2 {
    background: #F7F7F7;
    font-size: 16px;
    color: #464948;
}
@media screen and (min-width: 64em)
 {
    width: calc(50% - 1.875rem);
    padding-top: 4em;
    padding-bottom: 4em;
}

.button {
  background-color: #23272A; /* Black but not Black */
  border: none;
  border-radius: 28px;
  flex-shrink: 0;
  color: white;
  line-height: 24px;
  padding: 16px 32px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow; 
  transition-property: background-color,color,box-shadow; 
  transition-property: background-color,color,box-shadow,-webkit-box-shadow; 
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  justify-content: center;
  transition-timing-function: ease-in-out; 
  transition-timing-function: ease-in-out;
}
.button1 {
  background-color: #ff8300; /* Black but not Black */
  border: none;
  width: 100%;
  border-radius: 28px;
  color: #23272A;
  padding: 16px 32px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  font-size: 20px;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow; 
  transition-property: background-color,color,box-shadow; 
  transition-property: background-color,color,box-shadow,-webkit-box-shadow; 
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  transition-timing-function: ease-in-out; 
  transition-timing-function: ease-in-out;
}
.button:hover {
    opacity: 0.90;
    color: #ff8300;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1:hover {
    opacity: 0.90;
    color: #FFFFFF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media screen and (max-width: 768px)
.button1 {
    width: auto;
}
.navbar li a:hover {
  background-color: #0091ea;
}
.main {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}
/* Stuff that needs to be center */
.center {
  text-align: center;
}

/* Footer Stuff. The links at the bottom of the page */
footer {
  list-style-type: none;
  font-size: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #3498db;
  margin-top: 1%;
  line-height: 110%;
}

/* Theres colums so that you can have text different text on the same line */
.footerColumn {
  float: left;
  width: 15%;
  padding: 5px;
}

.footerColumn a {
  color: white;
}

/* a p {
  color: #66ccff;
} */
/* for the footer text */
.footerText {
  color: white;
  padding-right: 0%;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* makes pretty buttons */
/*.button {
    background-color: #4395cd;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari *
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #1d1d1d;
    color: white;
    border: 2px solid #4395cd;
}
.button:hover {
    background-color: #4395cd;
    color: white;
}
*/

.lispace {
  margin: 10px 0;
}
.lismallspace{
  margin: 0.5px 0;
}
a {
    color: #4395cd;
}
/* there's a column for the body as well like in the footer */
  .column {
  float: left;
  width: 40%;
  padding: 50px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .column {
  padding: 50px;
  border-radius: 8px;
  float: unset;
  width: fit-content;
  }
}
@media (max-width: 767px) {
  img1 {
    width: 110%;
    left: -4%;
    height: 100%;
    position: relative;
    top: 0px;
  }
}
@media (max-width: 767px) {
  img2 {
    width: 112%;
    height: 100%;
    position: relative;
    top: 0px;
    right: 7%;
  }
}
  .column1 {
  float: right;
  width: 50%;
  padding: 70px 30px;
  background: #f2f2f2;
}
  .column-img3 {
  float: right;
  width: 50%;
  transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease;
  padding: 70px 30px;
  background: #FFFFFF;
}
  .column-img2 {
  float: left;
  width: 50%;
  padding: 70px 30px;
  background: #FFFFFF;
}
  .column-con1 {
  float: left;
  width: 50%;
  padding: 70px 30px;
      transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease;
  background: #f2f2f2;
}
  .column2 {
  float: left;
  width: 40%;
  border-radius: 15px;
  padding: 30px;
  background: #0242b8;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}
.row1 {
  content: "";
  clear: both;
  display: table;
  
  background-color: #f2f2f2;
}
.row2 {
  content: "";
  clear: both;
  display: table;
  
  background-color: #FFFFFF;
}
img.resize{
  max-width: 50%;
  max-height: 50%;
}
.column a {
  color: #ff8300;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 20px;
}

/* Awards Right Side */
/* .awardsR {
  white-space: nowrap;
} */
/* Text Awards - Puts semi-transparent layer over the whole div*/
/*.awardText {
  background: rgba(0, 0, 0, 0.5);
}*/
/* Removes the semi-transparent layer over the <p>, only one shade of grey */
/*.awardText p {
  background: rgba(0, 0, 0, 0);
}*/

/* Text Awards li */
.awardText li {
  font-size: 0.6rem;
  line-height: 1.2em;
}

/* properties for the about text paragraph on the front page */
p {
  line-height: 1.2em !important;
  color: black;
  /*background: rgba(0, 0, 0, 0.5);*/
}
p-km {
   
   font-size: 24px;
   line-height: 140% !important;
   color: white;
   vertical-align: baseline;
   font-style: inherit;
   left: 33px;
   top: 6px;
   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
p-mk {
  line-height: 143%;
  font-size: 24px;
    transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease;

  /*font-weight: inherit;*/
  font-style: inherit;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  /*font-family: inherit;*/
  text-shadow: 0px 1px #000000;
  color: white;
  position: absolute;
  left: 33px;
  top: 212px;
  right: 891px;
}

/* Custom Font sizes, helps with moble viwing */
h1 {
  font-size: 2.5rem;
}
p-ks6sd {
   margin-top: 24px;
   font-size: 20px;
   line-height: 32px !important;
   color: #23272a;
   vertical-align: baseline;
   font-style: inherit;
   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h2-14jwa {
  font-weight: 700;
  line-height: 120%;
  font-size: 48px;
  /*font-weight: inherit;*/
  font-style: inherit;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  /*font-family: inherit;*/
  color: #23272a;
}

.container {
  position: relative;
  color: white;
}

h1-km {
  font-weight: 700;
  line-height: 120%;
  font-size: 48px;
  /*font-weight: inherit;*/
  font-style: inherit;
    transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease;

  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  /*font-family: inherit;*/
  color: white;
  position: absolute;
  left: 33px;
  top: 131px;
}
h1-mk {
  font-weight: 700;
  line-height: 120%;
  font-size: 48px;
  /*font-weight: inherit;*/
  font-style: inherit;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  /*font-family: inherit;*/
  color: black;
}
@media (max-width: 1318px) {
  p-mk {
    font-size: 25px;
    right: 788px;
  }
}
@media (max-width: 1269px) {
  p-mk {
    font-size: 25px;
    right: 692px;
  }
}
@media (max-width: 1200px) {
  p-mk {
    font-size: 25px;
    right: 615px;
  }
}
@media (max-width: 1136px) {
  p-mk {
    font-size: 23px;
    right: 565px;
  }
}
@media (max-width: 1046px) {
  p-mk {
    font-size: 20px;
    right: 562px;
  }
}
@media (max-width: 992px) {
  p-mk {
    font-size: 22px;
    right: 420px;
  }
}
@media (max-width: 924px) {
  p-mk {
    font-size: 19px;
    right: 285px;
  }
}
@media (max-width: 778px) {
  p-mk {
    font-size: 18px;
    right: 215px;
  }
}

@media (max-width: 768px) {
  p-mk {
    font-size: 21px;
    right: 0px;
  }
}
@media (max-width: 706px) {
  p-mk {
    font-size: 18px;
    right: 0px;
  }
}
@media (max-width: 634px) {
  p-mk {
    font-size: 13px;
    right: 0px;
  }
}
@media (max-width: 508px) {
  p-mk { 
    font-size: 10px;
    right: 0px;
  }
}
@media (max-width: 480px) {
  p-mk {
    font-size: 10px;
    right: 34px;
  }
}
@media (max-width: 452px) {
  p-mk {
    font-size: 9px;
    right: 1px;
  }
}
@media (max-width: 427px) {
  p-mk {
    font-size: 7px;
    right: 0px;
  }
}
@media (max-width: 386px) {
  p-mk {
    font-size: 6px;
    right: 0px;
  }
}
@media (max-width: 348px) {
  p-mk {
    font-size: 4px;
    right: 0px;
  }
}
@media (max-width: 339px) {
  h1-km {
    font-size: 41px;
  }
}
@media (max-width: 480px) {
  column {
    padding 100px;
    width: 0%;
    border-radius: 0%;
  }
}
h1i {
  font-size: 2.5rem;
  color: #0242b8;
}
h1m {
  font-size: 2.5rem;
  color: black;
}
h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px)
:root {
    --num-grid-columns: 12;
    --section-spacing: 120px;
}
@media screen and (min-width: 768px)
:root {
    --num-grid-columns: 8;
    --page-gutter: 40px;
    --section-spacing: 80px;
}
:root {
    --page-max-width: 1260px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px;
}
@media screen and (min-width: 768px)
:root {
    --num-grid-columns: 8;
    --page-gutter: 40px;
    --section-spacing: 80px;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 31px;
  display: flex;
  width: 38px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1em;
  height: 36px;
  line-height: 26px;
  font-weight: 300;
  margin-right: .5em;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow; 
  transition-property: background-color,color,box-shadow; 
  transition-property: background-color,color,box-shadow,-webkit-box-shadow; 
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  justify-content: center;
  transition-timing-function: ease-in-out; 
  transition-timing-function: ease-in-out;
  /*border-radius: 13px;*/
}

/* Add a hover effect if you want */


/* Facebook icon */
.fa-facebook {
  background: #F7F7F7;
  color: #0091ea;
}

/* Twitter icon*/
.fa-twitter {
  background: transparent;
  color: white;
 
}
/* Instagram icon*/
.fa-instagram {
  background: transparent;
  color: white;
  
}
/* YouTube icon*/
.fa-youtube-play {
  background: #F7F7F7;
  color: #0091ea;
  
}
/* Envelope*/
.fa-envelope {
    background: #F7F7F7;
    color: #0091ea;
    
}
